:root {
  /* Border radius variables */
  --border-radius-small: 2px;
  --border-radius-medium: 4px;
  --border-radius-large: 8px;

  /* Box shadow variables */
  --box-shadow-small: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --box-shadow-medium: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --box-shadow-large: box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  /* Color variables */
  --accent-background-color: #4338ca;
  --accent-text-color: #eef2ff;
  --primary-background-color: #eef2ff;
  --primary-text-color: #030712;

  /* Font size variables */
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-xlarge: 24px;
  --font-size-xxlarge: 32px;

  /* Line height variables */
  --line-height-small: 16px;
  --line-height-medium: 20px;
  --line-height-large: 22px;
  --line-height-xlarge: 28px;
  --line-height-xxlarge: 36px;

  /* Spacing variables */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--accent-background-color);
  box-shadow: var(--box-shadow-medium);
  color: var(--accent-text-color);
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 var(--spacing-medium);
}

header p {
  font-size: var(--font-size-xlarge);
}

.app {
  padding: var(--spacing-medium);
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: var(--font-size-xlarge);
  line-height: var(--line-height-xlarge);
}

h2 {
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
}

h3 {
  font-size: var(--font-size-large);
  font-weight: 700;
  line-height: var(--line-height-large);
}

button {
  border: none;
  border-radius: var(--border-radius-medium);
  font-size: var(--font-size-medium);
  padding: var(--spacing-small) var(--spacing-medium);
}

.primary-button {
  background-color: var(--accent-background-color);
  color: var(--accent-text-color);
}

.quiz-list {
  display: flex;
  flex-direction: column;
}

.quiz-card {
  border: 2px solid var(--primary-text-color);
  border-radius: var(--border-radius-medium);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  padding: var(--spacing-medium);
}